REACT_APP_SOLANA_RPC_URL=<YOUR_SOLANA_RPC_URL_HERE>
REACT_APP_CRYPTO_AI_AGENT_API_KEY=<YOUR_CRYPTO_AI_AGENT_API_KEY_HERE>
REACT_APP_MARKET_DATA_API_KEY=<YOUR_MARKET_DATA_API_KEY_HERE>
REACT_APP_CRONOS_X402_API_KEY=<YOUR_CRONOS_X402_API_KEY_HERE>
REACT_APP_NETWORK_TYPE=(devnet/mainnet)
REACT_APP_BANK_PROCESSOR_API_KEY=<YOUR_BANK_PROCESSOR_API_KEY_HERE>